<%= form_for @chair do |f| %>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit 'Add chair' %>
  </p>
<% end %>

<%= @chairs.each do |chair| %>
<ul>
  <li>
    <%= chair.size %> <%= chair.color %>
  </li>
</ul>
<% end %>